body {    
    margin: 0 !important;
    padding: 0 !important;
}
#header{
    position:fixed;
    background-color:white;
    width:275px;
    height:50px;
    text-align:center;
    border-bottom-right-radius: 16px;
    font-size:16px;
    font-family:avenir;
    border-right: 1px gray solid;
    border-bottom: 1px gray solid;
}
#header-text{
    position:relative;
    top:15px;
}
#first-container{
    font-family:avenir;
    background-image: url("lingobackground.jpg");
    height: 100vh;
    width:100vw;
}
#second-container{
    height:100vh;
    width:100vw;
    background-color:white;
}
#logo{
    margin: 0px auto;
    text-align: center;
}
img{
    margin: 0 auto;
    width:400px
}
#first-container #header-text {
    color:white !important;
    margin: 0 auto;
    text-align:center;
    letter-spacing: -1px;
    font-weight:normal !important;
    position:relative;
    top:-20px;
}
#title h1 {
    padding-top:50px;
    font-size: 300%;
    text-align:center;
    margin: 0 auto;
    font-weight:400;
    font-family: avenir;
}
#upload-container{
    top:50px;
    left:42%;
    width:200px;
    text-align: center;
    margin: 0 auto;
    padding-top:50px;
}
#filename{
    padding-left:6px;
    padding-top:10px;
    font-family:avenir;
    margin: 0 auto;
    text-align: center;
}
#result-text-container{
    position:relative;
    top:50px;
    text-align: center;
    display:none;
    margin: 0 auto;
    border: 1px gray solid;
    background-color:transparent;
    border-radius:16px;
    width:500px;
    padding:0px 20px 10px 20px;
    font-family:avenir;
}